/* font-family: "AnonymousProRegular"; */
@font-face {
  font-family: "AnonymousProRegular";
  src: url("/assets/AnonymousProRegular/AnonymousProRegular.eot");
  src: url("/assets/AnonymousProRegular/AnonymousProRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/AnonymousProRegular/AnonymousProRegular.woff") format("woff"),
  url("/assets/AnonymousProRegular/AnonymousProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AnonymousProBold"; */
@font-face {
  font-family: "AnonymousProBold";
  src: url("/assets/AnonymousProBold/AnonymousProBold.eot");
  src: url("/assets/AnonymousProBold/AnonymousProBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/AnonymousProBold/AnonymousProBold.woff") format("woff"),
  url("/assets/AnonymousProBold/AnonymousProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AnonymousProItalic"; */
@font-face {
  font-family: "AnonymousProItalic";
  src: url("/assets/AnonymousProItalic/AnonymousProItalic.eot");
  src: url("/assets/AnonymousProItalic/AnonymousProItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/AnonymousProItalic/AnonymousProItalic.woff") format("woff"),
  url("/assets/AnonymousProItalic/AnonymousProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "AnonymousProBoldItalic"; */
@font-face {
  font-family: "AnonymousProBoldItalic";
  src: url("/assets/AnonymousProBoldItalic/AnonymousProBoldItalic.eot");
  src: url("/assets/AnonymousProBoldItalic/AnonymousProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/AnonymousProBoldItalic/AnonymousProBoldItalic.woff") format("woff"),
  url("/assets/AnonymousProBoldItalic/AnonymousProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}